<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('globalHead') %>
        <link rel="stylesheet" href="/css/admin.css">
        <script src="/js/admin.js"></script>
        <script src="/js/md5.min.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h1>Admin</h1>
            <h3>Add user</h3>
            <form action="/api/admin/addUser" method="post" id="newUser">
                <input type="text" name="name" id="newUser-name" placeholder="Username">
                <input type="text" name="pass" id="newUser-pass" placeholder="Password">
                <input type="submit" value="Add User">
            </form>
            <span id="newUser-message"></span>
            <h3>Manage users</h3>
            <ul id="users">
            </ul>
            <span id="users-message"></span>
            
            <div id="bottom-flex">
                <div class="left">
                    <h3>Last logins</h3>
                    <div id="logins"></div>
                </div>
                <div class="right">
                    <h3>Last file GETs</h3>
                    <div id="file-gets"></div>
                </div>
        </main>
    </body>
</html>