<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('globalHead') %>
        <script src="/js/changePass.js"></script>
        <script src="/js/md5.min.js"></script>
        <link rel="stylesheet" href="/css/upload.css">
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h2>Change password</h2>
            <form action="/api/changePass" method="post">
                <input type="password" placeholder="Old password" name="old" id="old"><br>
                <input type="password" placeholder="New password" name="new" id="new"><br>
                <input type="password" placeholder="Confirm new password" id="newConfirm"><br>
                Disclaimer: Doing this will log you out as all existing tokens are deleted for safety.<br>
                <input type="submit" value="Change" name="submit">
            </form>
            <span id="message"></span>
        </main>
    </body>
</html>
