<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<link rel="stylesheet" href="/css/global.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Zip Disquette</title>
<meta charset="utf-8">
<meta name="theme-color" content="#222" />
<link rel="icon" href="/img/logo.png">