<header>
    <nav>
        <a href="/list" id="files-list">Files list</a>
        <a href="/list/upload" id="upload">Upload files</a>
        <a href="#" id="logout">Log out</a>
        <a href="/changePass">Change password</a>
        <input type="checkbox" href="#" id="theme-switch" class="right"></input>
    </nav>
</header>