<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('globalHead') %>
        <script src="/js/list.js"></script>
        <link rel="stylesheet" href="css/list.css">
    </head>

    <body>
        <%- include('header') %>
        <main>
            <a id="new" href="#" onclick="createNewFile();" style="display:none;">New file</a>
            <a id="folders" href="#" onclick="enterFolder('');">View folders</a>
            <a id="gallery" href="#" onclick="setMode('gallery')">View gallery</a>
            <a id="list" href="#" onclick="setMode('list')">View list</a>
            <a href="#" id="refresh">Refresh</a>
            <h1 id="folderName">folders</h1><br>
            <div id="files"></div>
        </main>
    </body>
</html>