<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/list.js"></script>

<a href="#" id="logout">log out</a>
<h1 id="username">Loading...</h1>
<ul id="files"></ul>
<a href="/list/upload" id="upload">upload files</a>