<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#222" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/md5.min.js"></script>
        <script src="js/common.js"></script>
        <script src="js/login.js"></script>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zip Disquette</title>
    </head>
    <body>
        <div id="login-container">
            <div id="logo-container">
                <img id="nsa" alt="nsa" src="/img/logo.png">
            </div>
            <form id="login" action="/api/getLogin" method="post">
                <input type="text" name="username" placeholder="Name" id="name"><br>
                <input type="password" name="password" placeholder="Password" id="pass"><br>
                <button type="submit" id="login-button">Login</button><br>
                <span id="error" style="background-color: red; color: white;"></span>
            </form>
        </div>
    </body>
</html>