<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/login.js"></script>
<link rel="stylesheet" href="css/main.css">
<form id="login" action="/api/getLogin" method="post">
    name <input type="text" name="username"><br>
    pass <input type="password" name="password"><br>
    <button type="submit" id="login-button">login</button><br>
    <span id="error" style="background-color: red; color: white;"></span>
</form>