<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('globalHead') %>
        <link rel="stylesheet" href="/css/upload.css">
        <script src="/js/upload.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <main>
            <form action="/api/uploadFile" method="post" enctype="multipart/form-data">
                <input type="file" name="files" id="file" multiple><br>
                <input type="text" name="name" id="name" placeholder="Tag"><br><br>
                <input type="submit" value="Upload" name="submit">
            </form>
            <span id="message"></span>
        </main>
    </body>
</html>
