<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/upload.js"></script>
<a href="#" id="logout">logout</a> <a href="/list">back</a>

<form action="/api/uploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file"><br>
    <input type="submit" value="upload" name="submit">
</form>
<span id="message"></span>