main input[type="file"] {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    width: calc(100% - 40px);
    margin: 5px;
    color: #ddd;
    text-decoration: none;
    border: none;
}

input[type="submit"] {
    padding: 10px;
}