main input[type="file"] {
    background-color: var(--panel-bg-color);
    color: var(--text-color);
    padding: 20px;
    width: fit-content;
    width: calc(100% - 40px);
    margin: 5px;
    max-width: 500px;
    text-decoration: none;
    border: none;
}

input[type="submit"] {
    padding: 10px;
}